# .bashrc

# If not running interactively, don't do anything
case $- in
    *i*) ;;
      *) return;;
esac

# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

if [ -f ~/.bash_aliases ]; then
    . ~/.bash_aliases
fi

# Always start tmux
if [ -z "$TMUX" ]; then
    tmux attach -t default || tmux new -s default
fi

# Ajoute la date dans l'historique des commandes (history)
export HISTTIMEFORMAT="%d/%m/%Y %H:%M:%S "

# avoid duplicates..
export HISTCONTROL=ignoredups:erasedups
# append history entries..
shopt -s histappend

# add support for hub (https://github.com/github/hub)
eval "$(hub alias -s)"

# set PATH so it includes python's private bin if it exists
if [ -d ~/.local/bin ] ; then
    PATH="${PATH}":~/.local/bin
fi

# Add ~/bin directory to path if it exists
if [ -d ~/bin ] ; then
    PATH="${PATH}":~/bin
fi

# Enable fzf key-bindings for history
[ -f /usr/share/doc/fzf/examples/key-bindings.bash ] && source /usr/share/doc/fzf/examples/key-bindings.bash

# Activation de powerline par défaut si présent
# Sinon, utilise la configuration de delicious insight
if [ -f /usr/share/powerline/integrations/powerline.sh ]; then 
    source /usr/share/powerline/integrations/powerline.sh
else
    # configure prompt with git
    # source : https://delicious-insights.com/fr/articles/prompt-git-qui-dechire/
    # read this /usr/lib/git-core/git-sh-prompt for more explanations
    [ -f /usr/lib/git-core/git-sh-prompt ] && source /usr/lib/git-core/git-sh-prompt
    
    export GIT_PS1_SHOWDIRTYSTATE=1 GIT_PS1_SHOWSTASHSTATE=1 GIT_PS1_SHOWUNTRACKEDFILES=1
    export GIT_PS1_SHOWUPSTREAM=verbose GIT_PS1_DESCRIBE_STYLE=branch
    # display branch in color
    export GIT_PS1_SHOWCOLORHINTS=1
    # replace \w par \W to get full path.
    export PROMPT_COMMAND='__git_ps1 "\u@\h:\W" " \\\$ "'
fi

# configure blackfire
{{- if (index . "blackfire") }}
export BLACKFIRE_CLIENT_ID={{ .blackfire.client_id }}
export BLACKFIRE_CLIENT_TOKEN={{ .blackfire.client_token }}
export BLACKFIRE_SERVER_ID={{ .blackfire.server_id }}
export BLACKFIRE_SERVER_TOKEN={{ .blackfire.server_token }}
{{- end }}
