gandi={{ (keepassxc "gandi - double auth").Password }}
arte={{ (keepassxc "ARTE - double auth").Password }}
scaleway={{ (keepassxc "scaleway - double auth").Password }}
nextcloud={{ (keepassxc "nextcloud - double auth").Password }}
