alias tmux="tmux -2" # to enable 256 colors
{{ if eq .chezmoi.os "linux" -}}
alias ls='ls --color=auto'
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias pbcopy='xclip -selection clipboard'
alias pbpaste='xclip -selection clipboard -o'
# pour resetter le trackpad après mis en veille (Lenovo X1 Carbon)
alias reset_trackpad="echo -n 'none' | sudo tee /sys/bus/serio/devices/serio1/drvctl && echo -n 'reconnect' | sudo tee /sys/bus/serio/devices/serio1/drvctl"
# permet d'ouvrir un fichier avec le logiciel le plus adapté
alias open="xdg-open"
# killer screenkey
alias kscreenkey="pkill screenkey"
{{ else if eq .chezmoi.os "darwin" -}}
alias ls='ls -G'
{{ end -}}
alias whatsmyip="curl https://ifconfig.co/"
alias meteo='curl "wttr.in/Strasbourg?lang=fr"'
alias top_process="ps -eo pcpu,pid,user,args | sort -k 1 -r | head -10"

# elasticsearch
# démarrer cerebro via docker
alias cerebro="docker run --rm -p 9000:9000 lmenezes/cerebro"
alias mitmproxy="docker run --rm -it -v $HOME/.mitmproxy:/home/mitmproxy/.mitmproxy -p 8080:8080 mitmproxy/mitmproxy:4.0.4"
alias browsh="docker run -it --rm browsh/browsh"
alias sdvvpn="sudo vpnc-connect /home/fdume/.sdv_vpnc.conf"
alias organize-pictures-by-date="exiftool '-Directory<CreateDate' -d %Y/%m/%d -r ."
alias k=kubectl
alias kctxt=kubectxt
alias spt="spt --config ${HOME}/.config/spotify-tui/client.yml"
