[user]
	email = franek@users.noreply.github.com
	name = François D.
[core]
	editor = vi
	filemode = true
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[alias]
	co = checkout
	st = status
	ci = commit
	ls = log --pretty=format:'%C(yellow)%h%Creset %ar\t| %Cgreen%an%Creset - %s'
	lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an %ar)%Creset'
	wc = whatchanged -p --abbrev-commit --pretty=medium
	authors = shortlog -s
	lsmy = !(git ls --author="$(git config user.email)")
[push]
	default = current
[pull]
	rebase = preserve
[remote "origin"]
	prune = true
[rebase]
	autostash = true
	autorebase = true
[tag]
	# sort tags in a natural order
        sort = version:refname
[branch]
	# sort branch by commiterdate
        sort = committerdate
