#!/bin/sh

# Install https://github.com/romkatv/powerlevel10k
rm -rf ~/powerlevel10k && git clone --depth=1 https://github.com/romkatv/powerlevel10k.git ~/powerlevel10k

# Install tmux plugin manager
rm -rf .tmux/ && git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm

{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

# k8s
sudo apt-get update && sudo apt-get install -y apt-transport-https
curl -s https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -
sudo rm -rf /etc/apt/sources.list.d/kubernetes.list && echo "deb https://apt.kubernetes.io/ kubernetes-xenial main" | sudo tee -a /etc/apt/sources.list.d/kubernetes.list
sudo apt-get update && sudo apt-get install -y kubectl
curl --location --output ~/bin/kubectx https://github.com/ahmetb/kubectx/releases/download/v0.9.1/kubectx && chmod +x ~/bin/kubectx

# spotify
sudo snap install spt
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh

# k8s
brew install kubectl kubectx

# spotify
brew install spotify-tui
{{ end -}}
